[workspace]
members = ["crates/*"]
exclude = [
    "props",
    "crates/paralegal-flow/tests",
    "crates/paralegal-policy/tests",
    "crates/paralegal-explore",
]
resolver = "2"

[workspace.dependencies]
indexical = "0.3.1"
serde = "1.0.188"
petgraph = { version = "0.6", features = ["serde-1"] }
strum = { version = "0.25", features = ["derive"] }
anyhow = { version = "1.0.72", features = ["backtrace"] }

rustc_utils = { version = "=0.7.4-nightly-2023-08-25", features = [
    "indexical",
] }
rustc_plugin = "=0.7.4-nightly-2023-08-25"
#flowistry = { path = "../flowistry/crates/flowistry", default-features = false }

[workspace.dependencies.flowistry]
# path = "../flowistry/crates/flowistry"
git = "https://github.com/brownsys/flowistry"
rev = "08c4ad9587b3251a8f7c64aa60be31404e6e04c0"
default-features = false


[profile.release]
debug = true


[replace."rustc_utils:0.7.4-nightly-2023-08-25"]
# path = "../rustc_plugin/crates/rustc_utils"
git = "https://github.com/JustusAdam/rustc_plugin"
rev = "e413907b2ae9a03d2c8e9aca3b72dd451a16b1db"

[replace."rustc_plugin:0.7.4-nightly-2023-08-25"]
# path = "../rustc_plugin/crates/rustc_plugin"
git = "https://github.com/JustusAdam/rustc_plugin"
rev = "e413907b2ae9a03d2c8e9aca3b72dd451a16b1db"
