[package]
name = "dfpp"
version = "0.0.1"
edition = "2021"
publish = false
description = "A linter for user-defined privacy properties for Rust code"

[package.metadata.rust-analyzer]
rustc_private = true

[dependencies]
#flowistry = { git = "https://github.com/willcrichton/flowistry", rev = "1759ef8" }
#flowistry = { path = "../flowistry/crates/flowistry" }
flowistry = { git = "https://github.com/brownsys/flowistry", rev = "f3b27bb1e06a13c599ea56beca7aa047f7d291e5" }

#rustc_plugin = { git = "https://github.com/willcrichton/flowistry", rev = "1f469a4cce9f2e240ad14b5145669a8011d4e6b2" }
#rustc_plugin = { path = "../flowistry/crates/rustc_plugin" }
#rustc_plugin = { git = "https://github.com/brownsys/flowistry", rev = "6e1de0459ec32bfd9ad046491a556410942d6ddc" }
#rustc_utils = { path = "../rustc_plugin/crates/rustc_utils"}
rustc_utils = "=0.6.0-nightly-2023-04-12"
rustc_plugin = "=0.6.0-nightly-2023-04-12"

clap = { version = "3", features = ["derive", "cargo", "env"] }
serde = { version = "1", features = ["derive"] }
lazy_static = "1"
ordermap = "0.3"
trait_enum = "0.5"
pretty = "0.11"
nom = "7"
log = "0.4"
simple_logger = "2"
petgraph = "0.6"


humantime = "2"
indicatif = "0.17"
serde-lexpr = "0.1"

#dot = "0.1"
dot = { git = "https://github.com/JustusAdam/dot-rust", rev = "ff2b42ceda98c639c8ea3cbfc56b83d6e06e8106"}
#dot = {path = "../../clones/dot-rust" }

serde_json = "1"
toml = "0.7"

dialoguer = { version = "0.10", features = ["history", "fuzzy-select"] }
ringbuffer = "0.13"

# This is just for pinning this dependency
camino = "= 1.0.9"
serial_test = "2.0.0"

[build-dependencies]
chrono = "0.4"

[[bin]]
name = "cargo-dfpp"

[[bin]]
name = "dfpp"

[[bin]]
name = "dfpp-explorer"


[profile.release]
debug = true


[replace]

"rustc_utils:0.6.0-nightly-2023-04-12" = { git = "https://github.com/JustusAdam/rustc_plugin", rev = "d2328a0148359f440b6074bf7144aba00e3a16d1" }