[workspace]
members = ["crates/*"]
exclude = ["props", "crates/paralegal-flow/tests", "crates/paralegal-policy/tests"]

[workspace.dependencies]
indexical = "0.2.2"
serde = "1.0.188"

[profile.release]
debug = true

[replace]
"rustc_utils:0.6.0-nightly-2023-04-12" = { git = "https://github.com/JustusAdam/rustc_plugin", rev = "344ecb3bc056c641eaf9d06792571b3d81c8eb33" }
#"rustc_plugin:0.6.0-nightly-2023-04-12" = { path = "../rustc_plugin/crates/rustc_plugin" }
"rustc_plugin:0.6.0-nightly-2023-04-12" = { git = "https://github.com/JustusAdam/rustc_plugin", rev = "80d92411810c709522119407be24745555adc87a" }
