[package]
name = "paralegal-spdg"
version = "0.1.0"
edition = "2021"
description = "Graph structure created by the `paralegal-flow` etractor and consumed by policies written with the `paralegal-policy` framework."

[package.metadata.rust-analyzer]
rustc_private = true

[features]
rustc = ["flowistry_pdg/rustc"]

[dependencies]
serde = { workspace = true, features = ["derive"] }
log = "0.4"
internment = { version = "0.7.1", features = ["serde"] }
indexical = { workspace = true }
itertools = "0.11.0"
strum = { version = "0.25", features = ["derive"] }
cfg-if = "1"
flowistry_pdg = { git = "https://github.com/willcrichton/flowistry", rev = "af8b6eb" }
petgraph = { workspace = true }
static_assertions = "1"