name: Automated Documentation Update

on:
  push:
    branches: [ "main", "doc-redirect" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  update-docs:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        ref: 'main'
        fetch-depth: 0
    - name: Configure Git
      run: |
        git config --local user.email "docmaster+github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
    - name: Prepare
      run: |
        cargo doc --document-private-items
        mkdir docs
        cp -R target/doc docs/libs
        rm -R .github
    - name: Copy Rustc Docs
      run: cargo run
      working-directory: doc-src
    - name: Copy index page
      run: cp doc-src/index.html docs/index.html
    - name: Commit Doc Generation
      run: |
        git add docs
        git commit -m 'Generate Documentation'
    - name: Push Doc Update
      uses: ad-m/github-push-action@v0.6.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: 'github-actions-suck'
        force: true
