name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build -vv
    - name: Run tests
      run: |
        cargo test --test non_transitive_graph_tests 
        cargo test --test call_chain_analysis_tests 
        cargo test --test control_flow_tests
        cargo test --test new_alias_analysis_tests
        cargo test --test async_tests
        cargo test --test external_annotation_tests 
